<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <%- include('sections/links')%>

</head>
<body>
    <div style="height: 100px;">

    </div>
    <%- include('sections/navBar',{user:user, notification:notification})%>

    <h1>Comming soon</h1>
</body>
</html>
